modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "static"
publicDir = "dist"
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 5173
externalPort = 80
exposeLocalhost = true

[[deployment.responseHeaders]]
path = "/*"
name = "Access-Control-Allow-Origin"
value = "*"

[[deployment.rewrites]]
from = "/*"
to = "/index.html"
